<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="synergyWayUsers" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="synergyWayUsers" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="synergyWayUsers" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="synergyWayUsers" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/static/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-cloak>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <menu-bar></menu-bar>

    <div class="content" ui-view></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/static/bower_components/angular-ui-mask/dist/mask.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-mask/dist/mask.js"></script>

    <script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/lodash/lodash.js"></script>

    <script src="/static/js/app/app.module.js"></script>
    <script src="/static/js/app/app.routes.js"></script>
    <script src="/static/js/app/core/directives.js"></script>
    <script src="/static/js/app/core/utils.js"></script>
    <script src="/static/js/app/core/services.js"></script>

    <script src="/static/js/app/shared/menu-bar/menuBarDirective.js"></script>
    <script src="/static/js/app/components/user-list/ListUserController.js"></script>
    <script src="/static/js/app/components/user/SingleUserController.js"></script>
    <script src="/static/js/app/components/courses/CourseController.js"></script>
</body>
</html>
