<div class="container courses-block">
    <h2 class="title text-uppercase text-center">Courses</h2>
    <table class="table dark-table" ng-show="vm.courses.length">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in vm.courses | orderBy: 'name'">
                <th>{{ course.name }}</th>
                <th>{{ course.code }}</th>
            </tr>
        </tbody>
    </table>
    <p ng-hide="vm.courses.length" class="text-center">
        No courses yet.
    </p>
</div>
