<div class="single-user-block clearfix">
    <span class="text-alert alert-success">User created successfully</span>
    <div class="container clearfix">
        <div class="pull-left">
            <a class="btn btn-circle btn-md btn-red" href="#users">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
        </div>
        <div class="center-block user-form-block">
            <h2 class="title text-uppercase text-center">Create user</h2>
            <form class="clearfix"
                name="userForm"
                novalidate>
                <div ng-include="'/static/app/components/user/user-form.html'" include-replace></div>
                <input class="btn btn-green pull-right"
                       type="submit"
                       value="Create"/>
            </form>
        </div>
    </div>
</div>