<div class="single-user-block clearfix">
    <span class="text-alert alert-success" ng-show="vm.successfulRequest">Changes saved successfully</span>
    <span class="text-alert alert-danger" ng-show="vm.successfulRequest == false">Internal error</span>
    <div class="container clearfix">
        <div class="pull-left">
            <a class="btn btn-circle btn-md btn-red" href="#users">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
        </div>
        <div class="center-block user-form-block">
            <h2 class="title text-uppercase text-center">Change user</h2>
            <form class="clearfix"
                name="userForm"
                ng-submit="userForm.$valid && vm.updateUser()"
                novalidate>
                <div ng-include="'/static/js/app/components/user/user-form.html'"></div>
                <div class="form-group overflow">
                    <label for="userCourses" class="block">Courses</label>

                    <div ng-show="vm.getAvailableCourses().length">
                        <label class="custom-select inline-block courses-select">
                            <select id="userCourses"
                                    class="rounded-input form-control"
                                    name="courses"
                                    ng-model="vm.selectedCourse"
                                    ng-options="item as item.name for item in vm.getAvailableCourses() track by item.course_id">
                            </select>
                        </label>
                        <a class="btn btn-circle btn-md btn-green margin-r-0 pull-right"
                            ng-click="vm.addCourse(vm.model.courses, vm.selectedCourse)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>
                </div>
                <ul class="clear-list selected-list">
                    <li class="clearfix" ng-repeat="course in vm.model.courses">
                        {{ course.name }}
                        <a ng-click="vm.removeCourse(vm.model.courses, course)">
                            <i class="glyphicon glyphicon-remove-circle pull-right"></i>
                        </a>
                    </li>
                </ul>

                <input class="btn btn-green pull-right"
                       type="submit"
                       value="Save"/>
            </form>
        </div>
    </div>
</div>