<div class="single-user-block clearfix">
    <span class="text-alert alert-success">User created successfully</span>
    <div class="container clearfix">
        <div class="pull-left">
            <a class="btn btn-circle btn-md btn-red" href="#users">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
        </div>
        <div class="center-block user-form-block">
            <h2 class="title text-uppercase text-center">Create user</h2>
            <form class="clearfix" name="userForm" novalidate>
                <div class="form-group required has-feedback"
                     ng-class="{ 'has-error': userForm.$submitted && userForm.name.$invalid }">
                    <label for="userName">Name</label>

                    <div class="validated-field">
                        <input type="text"
                             name="name"
                             ng-model="vm.model.name"
                             autofocus
                             required
                             ng-disabled="vm.editView"
                             class="form-control rounded-input"
                             id="userName"
                             maxlength="50">
                        <i class="glyphicon glyphicon-exclamation-sign form-control-feedback"></i>

                        <div class="form-messages"
                             ng-if="userForm.$submitted && userForm.name.$invalid"
                             ng-messages="userForm.name.$error"
                             role="alert">
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required has-feedback"
                     ng-class="{ 'has-error': userForm.$submitted && userForm.email.$invalid }">
                    <label for="userEmail">E-mail</label>

                    <div class="validated-field">
                        <input type="email"
                           name="email"
                           ng-model="vm.model.email"
                           required
                           class="form-control rounded-input"
                           id="userEmail">
                        <div class="form-messages"
                             ng-if="userForm.$submitted && userForm.email.$invalid"
                             ng-messages="userForm.email.$error"
                             role="alert">
                            <div ng-message="required">This field is required.</div>
                            <div ng-message="email">Please enter a valid email address!</div>
                        </div>
                        <i class="glyphicon glyphicon-exclamation-sign form-control-feedback"></i>
                    </div>
                </div>
                <div class="form-group has-feedback"
                     ng-class="{ 'has-error': userForm.$submitted && userForm.phone.$invalid }">
                    <label for="userPhone">Phone</label>

                    <div class="validated-field">
                        <input type="tel"
                            name="phone"
                            ng-model="vm.model.phone"
                            ui-mask="+ 9?9 (999) 999 99 99"
                            class="form-control rounded-input"
                            id="userPhone">
                        <i class="glyphicon glyphicon-exclamation-sign form-control-feedback"></i>
                    </div>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{ 'has-error': userForm.$submitted && userForm.mobile.$invalid }">
                    <label for="userMobile">Mobile phone</label>

                    <input type="tel"
                           name="mobile"
                           ui-mask="+ 9?9 (999) 999 99 99"
                           ng-model="vm.model.mobile"
                           class="form-control rounded-input"
                           id="userMobile">
                    <i class="glyphicon glyphicon-exclamation-sign form-control-feedback"></i>
                </div>

                <div class="form-group">
                    <label for="userStatus">Status</label>

                    <label class="custom-select">
                        <select id="userStatus"
                                class="rounded-input form-control"
                                convert-to-number
                                name="status"
                                ng-model="vm.model.status">
                            <option value="1">Active</option>
                            <option value="0" selected="selected">Inactive</option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label for="userCourses">Courses</label>

                    <label class="custom-select">
                        <select id="userCourses"
                                class="rounded-input form-control"
                                convert-to-number
                                name="courses"
                                ng-model="vm.selectedCourse"
                                ng-options="item as item.name for item in vm.courses track by item.id">
                        </select>
                    </label>
                </div>

                <input class="btn btn-green pull-right"
                       type="submit"
                       value="Create"/>
            </form>
        </div>
    </div>
</div>