/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
    background-color: #F1F1F1;
    font-family: 'Open Sans', 'SansSerif';
}

.title {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

/*** Navbar ***/
.navbar {
    min-height: initial;
}

.navbar-inverse {
    background-color: #2F303F;
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(46, 48, 63, 0.3);
}

.navbar-inverse .navbar-brand {
    font-family: 'Just Another Hand', cursive;
    color: #ffffff;
    font-size: 2em;
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    line-height: 1em;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    padding: 10px 15px;
}

.dark-table {
    box-shadow: 0 2px 10px rgba(104, 102, 112, 0.2);
}

.dark-table thead{
    background-color: #585661;
    color: #ffffff;
    text-transform: uppercase;
}

.dark-table>tbody>tr>th,
.dark-table>thead>tr>th {
    padding: 0.5em 2em;
    line-height: 2;
}

.dark-table tbody {
    background-color: #ffffff;
    color: #686670;
}

.dark-table>thead>tr>th {
    border-width: 1px;
}

.dark-table>tbody>tr>th {
    font-weight: 600;
}

/*** buttons ***/
.input-group-btn {
    font-size: 1em;
}

.btn-circle {
    color: #ffffff;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1em;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: 0.3s all;
    border: none;
    box-shadow: 0 1px 2px rgba(104, 102, 112, 0.5);
    text-shadow: 1px 1px 3px rgba(104, 102, 112, 0.6);
}

.btn-circle:hover {
    color: #ffffff;
}

.btn-circle.btn-lg {
    width: 3rem;
    height: 3rem;
    padding: 0.6em;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.btn-circle.btn-md {
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.6em;
    font-size: 1rem;
    line-height: 1rem;
}

.btn-red {
    background-color: #ff2228;
}

.btn-green {
    background-color: #34c97c;
}

.btn-red:hover {
    background-color: #CC1B20;
}

.btn-green:hover {
    background-color: #27965D;
}

/*** inputs ***/

.input-group-btn button {
    margin-right: 0;
}

.input-group .circle-input {

}

.user-header {
    text-align: center;
}

.user-list .user-header {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.user .status-inactive {
    color: #ff2228;
}

.user .status-active {
    color: #34c97c;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.inline-block {
    display: inline-block!important;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}