{% extends 'base.html' %}

{% block title %}Courses{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="title text-uppercase text-center">Courses</h2>
        <table class="table dark-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Python-Base</th>
                    <th>P012345</th>
                </tr>
                <tr>
                    <th>Python-DataBase</th>
                    <th>P012345</th>
                </tr>
                <tr>
                    <th>HTML</th>
                    <th>P012345</th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}