<div class="user-list-block">
    <div class="user-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-left">
                    <a ng-click="$state.go('create-user')"
                        class="btn btn-circle btn-md btn-red new-user">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <form class="inline-block search-form"
                        ng-submit="vm.loadPaginatedUsers()">
                        <button class="btn inline-block btn-circle btn-md splitted-btn btn-green" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        <input type="text"
                               class="inline-block rounded-input input-md splitted-input form-control"
                               placeholder="Search for..."
                               ng-model="vm.search">
                    </form>
                </div>
                <div class="inline-block col-sm-3">
                    <h2 class="title text-uppercase text-center">Users</h2>
                </div>
                <div class="hidden-xs col-sm-2 col-sm-offset-2">
                    <label class="custom-select">
                        <select class="form-control rounded-input"
                            ng-model="vm.itemsPerPage"
                            ng-change="vm.loadPaginatedUsers()"
                            convert-to-number>
                            <option value="10">10</option>
                            <option selected value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    <div class="container">
        <div class="user-list" ng-show="vm.users.length">
            <div class="table-responsive">
                <table class="table dark-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="user" ng-repeat="user in vm.users">
                            <th>{{ user.name }}</th>
                            <th>{{ user.email }}</th>
                            <th ng-class="{'text-danger': !user.status, 'text-success': user.status}">
                                {{ vm.formatUserStatus(user.status) }}
                            </th>
                            <th>
                                <a class="btn btn-circle btn-green"
                                    ng-click="$state.go('edit-user', {userId: user.id})">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a class="btn btn-circle btn-red"
                                   ng-click="vm.deleteUser(user.id)">
                                    <i class="glyphicon glyphicon glyphicon-trash"></i>
                                </a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <uib-pagination class="rounded-pagination center-block sticky sticky-pagination"
                ng-model="vm.currentPage"

                total-items="vm.totalItems"
                items-per-page="vm.itemsPerPage"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                ng-change="vm.loadPaginatedUsers()">
            </uib-pagination>
        </div>
        <p ng-hide="vm.users.length" class="text-center">
            No users.
        </p>
    </div>

</div>